<!DOCTYPE html>
<html>
<head>
    <title>Deli Docs</title>
    <style>
        * {
            font-family: sans-serif;
        }
        #content {
            margin: 20px auto;
            max-width: 800px;
        }
        pre {
            font-family: monospace;
        }
        th {
            font-size: 24px;
            vertical-align: top;
        }
        th, td {
            padding: 10px; 
        }


    </style>
</head>

<body>
<div id="content">

    <h1>Deli API</h1>
    <p>
        For this exercise, you will be
        implementing some API functionality that is used to capture orders at a deli. Lucky for us, this deli currently
        just makes sandwiches, so the API can be fairly simple. 
    </p>
    <p>
        Please implement the http endpoint for getting and creating orders. There are some sample <code>curl</code>
        calls to test your implementation listed, and some descriptions of the data. Please note:
    </p>
    <ul>
        <li>
            All input and output from this service is assumed to be JSON
        </li>
        <li>
            Feel free to use the internet as a resource. You must implement the solution yourself though.
        </li>
        <li>
            Don't worry about authentication or authorization. This version will be used by an in-store ordering
            system, so we can worry about auth in the future.
        </li>
        <li>
            For persistence, don't get hung up creating databases unless you're very familiar. You can just append
            to an in-memory data structure or write to a json file.
        </li>
    </ul>


    <h2>Order Object Shape</h2>

    <pre>
{
    "id": 42,                                                # A unique identifier
    "sandwich_size": "medium",                               # enum of: small, medium, or large
    "ingredients": ["turkey", "cheddar-cheese", "lettuce"]   # A list of ingredients
}
</pre>

    <h2>Endpoint to implement</h2>

    <p>
        Please implement the <b>/orders</b> endpoint with http GET and POST methods as described below.
    </p>

    <b>Http GET</b>
    <p>
        Performing an http GET on /orders will return a json list of orders, as described by the shape
        above. Eg:
    </p>
    <pre>
$# curl http://hostname:5000/orders
[
    {
        "id": 1,
        "sandwich_size": "small",
        "ingredients": []
    },
    {
        "id": 2,
        "sandwich_size": "medium",
        "ingredients": ["turkey"]
    }
]
    </pre>

    <b>Http POST</b>
    <p>
        Performing an http POST on /orders with a valid json body shape will create an order.
        The POST handler will be responsible for validating the payload, generating a unique id, and
        perisisting the order.
        Note that "id" should not be included, will be generated server-side. Eg:
    </p>
    <pre>
$# curl -d '{"sandwich_size": "small", "ingredients": ["cheddar-cheese"]}' http://hostname:5000/orders
{
    "id": 5,
    "sandwich_size": "small",
    "ingredients": [
        "cheddar-cheese"
    ]
}
    </pre>

</div>
</body>
</html>
